:root {
    --color-background: #CCEFFF;
    --bunny-color: #fff;
    --wall-color: rgb(169, 110, 0);
    --shadow: 0 19px 38px rgba(0, 0, 0, 0.5), 0 15px 12px rgba(0, 0, 0, 0.5);
}

body {
    counter-reset: score;
    /*el nombre de nuestro juego, para resetear o dar el nombre al contador*/
    margin: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: rgb(255, 191, 64);
}

.phone {
    position: relative;
    border: 8px solid black;
    border-radius: 40px;
    height: 600px;
    width: 300px;
    background: var(--color-background);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.phone>* {
    /* border: solid 1px black; */
    position: absolute;
    bottom: 0;
}

/* Bunny container */
.layer-1,
.layer-2,
.layer-4,
.layer-6 {
    background: transparent;
    width: 70px;
}

/* Walls */
.layer-3,
.layer-5,
.layer-7 {
    background: var(--wall-color);
    /* background-color: #e5e5f7; */
    border-radius: 30px 30px 0 0;
    box-shadow: var(--shadow);
}

.layer-1 {
    z-index: 1;
    height: 450px;
    bottom: 0;
    right: 60px;
    animation-name: bunny-1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes bunny-1 {

    /* Moviendole el bottom */
    0% {
        bottom: 0;
    }

    25% {
        bottom: -80px;
    }

    100% {
        bottom: 0;
    }
}

input[type=checkbox] {
    position: inherit;
    appearance: none;
    height: 50px;
    margin: 0;
    top: 0;
    cursor: pointer;
    width: 100%;
    /* border: solid black; */
    z-index: 2;
}

input[type=checkbox]:focus {
    appearance: none;
    outline: none;
}

input:checked {
    /*Incrementamos el contador dependiendo del game*/
    counter-increment: score;
}

.score {
    position: absolute;
    top: 0;
    margin-top: 2em;
}

.score::after {
    content: counter(score);
}

.layer-1 input[type=checkbox] {}

.layer-2 {
    z-index: 2;
    height: 450px;
    bottom: 0;
    left: 60px;

    /* Animation */
    animation: bunny-2 1s ease-in-out alternate infinite;
}

@keyframes bunny-2 {

    /* Usando translate */
    0% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(80px);
    }

    100% {
        transform: translateY(0);
    }
}

.layer-3 {
    z-index: 3;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 220px;
    height: 400px;
}

.layer-4 {
    z-index: 4;
    height: 350px;
    left: 60px;
    /* Animation */
    animation: bunny-3 1s ease-in-out alternate infinite;
}

@keyframes bunny-3 {
    0% {
        bottom: -10px;
        height: 70%;
    }

    25% {
        bottom: 0px;
    }

    50% {
        bottom: 40px;
    }

    100% {
        bottom: 0px;
        height: 20%;
    }

}

.layer-5 {
    z-index: 5;
    height: 300px;
    width: 200px;
    border-bottom-left-radius: 30px;
}

.layer-6 {
    z-index: 6;
    right: 60px;
    height: 250px;
    animation: bunny-4 2s ease-in-out infinite;
}

@keyframes bunny-4 {
    0% {
        bottom: -40px;
    }

    25% {
        bottom: 30px;
    }

    70% {
        bottom: -10px;
    }

    100% {
        bottom: -60px;
    }
}

.layer-7 {
    z-index: 7;
    right: 0;
    width: 200px;
    height: 200px;
    border-bottom-right-radius: 30px;
}

/* Clouds and Bush */
.layer-8 {
    z-index: 8;
    width: 200px;
    height: 100px;
    /* background: rgb(76, 231, 76); */
    margin: 0 auto;
    left: 0;
    right: 0;
}

.layer-9 {
    z-index: 9;
    left: 0;
    width: 100px;
    height: 60px;
    border-bottom-left-radius: 30px;
}

.layer-10 {
    z-index: 10;
    right: 0;
    width: 100px;
    height: 60px;
    border-bottom-right-radius: 30px;
}


/* Bunny Definition */
.left-ear--outer,
.right-ear--outer {
    position: inherit;
    background: var(--bunny-color);
    width: 20px;
    height: 60px;
    border-radius: 90%;
}

.left-ear--inner,
.right-ear--inner {
    background-color: pink;
    position: inherit;
    width: 10px;
    height: 50px;
    border-radius: 90%;
    top: 8px;
}

.left-ear--outer {
    left: 10px;
}

.left-ear--inner {
    left: 15px;
}

.right-ear--outer {
    right: 10px;
}

.right-ear--inner {
    right: 15px;
}

.head {
    position: inherit;
    background: var(--bunny-color);
    width: 100%;
    height: 60px;
    border-radius: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30px;
}

.head__eye {
    position: inherit;
    background: grey;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    top: 10px;

    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        height: 4px;
    }

    5% {
        /* 0 en el X y 2px en el Y */
        transform: translate(0px, 2px);
        height: 1px;
    }

    10% {
        /* Estado inicial 0 en el X y 0 en el Y */
        transform: translate(0px, 0px);
        height: 4px;
    }
}

.head__eye--left {
    left: 25px;
}

.head__eye--right {
    right: 25px;
}

/* End Bunny */

/* Start Walls */
.grass-top {
    position: inherit;
    background-color: greenyellow;
    width: 100%;
    height: 50px;
    border-radius: 30px 30px 0 0;
    /* pattern */
    /* background: linear-gradient(-135deg, greenyellow 25%, transparent 25%) -150px 0; */
    background: linear-gradient(135deg, greenyellow 25%, transparent 25%) -50px 0,
        linear-gradient(-135deg, greenyellow 25%, transparent 25%) -50px 0;
    background-size: 50px 100px;
    /* end pattern */
}

/* End Walls */

/* Start Clouds */
.cloud, .bush {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;
}

.cloud>* {
    position: absolute;
    background-color: white;
    width: 50px;
    height: 100%;
    border-radius: 30%;
}

.cloud-left, .bush-left {
    left: 0;
}

.cloud-middle, .bush-middle {
    height: 120%;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.cloud-right, .cloud-right {
    right: 0;
}

/* End Clouds */

.bush >* {
    background-color: green;
    position: absolute;
    width: 100%;
    height: 130%;
    border-radius: 20%;
}
.bush-left{
    height: 80%;
}
.bush-middle{
}
.bush-right{
    height: 80%;
}